.contact-container {
  padding: 20px;
  max-width: 1200px;
  margin: 140px auto 20px;
  display: flex;
}

.contact-left {
  padding: 10% 40px;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  margin-top: 140px;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 20px;
}

.contact-email {
  font-size: 1.2em;
  color: #007bff;
}

.contact-email a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.contact-image {
  width: 90%;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
