/* src/TechStacks.css */
.tech-stacks {
  padding: 20px;
  max-width: 1200px;
  margin: 140px auto 10px;
}

.tech-stacks h2 {
  font-size: 4rem;
  color: #555;
  text-align: center;
  margin: 120px 0px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 2rem;
  color: #424242;
  margin-bottom: 15px;
  text-align: left;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  flex: 1 1 calc(33.333% - 10px);
  padding: 10px;
  text-align: left;
  font-size: 2rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .item {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .item {
    flex: 1 1 100%;
  }
}
